* {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    font-family: "Bangers", system-ui;
}

header {
    display: flex;
    padding: 20px 5%;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #00093c, #2d0b00 );
}

.logo {
    color: #fff;
    font-size: 32px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

li a {
    color: #FFf;
    font-size: 18px;
    position: relative;
    margin-left: 30px;
    text-decoration: none;
}

 li a::before {
    top: 100%;
    left: 0;
    content: "";
    height: 2px;
    width: 0;
    transition: 0.3s ease;
    position: absolute;
    background: blueviolet;
}

li a:hover::before {
    width: 100%;
    margin-top: 4px;
}

.btn {
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    background-color: blueviolet;
}

.btn:hover {
    background-color: inherit;
    border: 2px solid blueviolet;
}
