*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #151320;
}

div{
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    position: absolute;
    border: 1px solid #fff;
    transform: translate(-50%, -50%);
    background: radial-gradient(
        #fd084c 20%,
        #fe9800 20%,
        #fe9800 40%,
        #fff820 40%,
        #fff820 60%,
        #3edf4b 60%,
        #3edf4b 80%,
        #3363ff 80%
    );
}